<div class="mx-auto">
  <table class="border w-full shadow-base text-sm text-left rtl:text-right text-gray-500">
    <thead class="text-xs text-gray-700 uppercase bg-bg sticky top-0">
      <tr>
      <th *ngFor="let header of tableHeaders" [key]="header.key" scope="col" class="px-6 py-3" [appSort]="tableData"  data-order="desc" data-name="Title"
        >
        {{header.label}}
        <app-sort-icon *ngIf="header.sortable"></app-sort-icon>
      </th>
      </tr>
    </thead>
    <tbody>
      <div *ngIf="loading" class="flex justify-center items-center h-full">
        <div class="spinner"></div>
      </div>
      <ng-container *ngIf="!loading">
        <ng-container *ngIf="tableData.length > 0;else noData">
          <tr *ngFor="let item of tableData"
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:cursor-pointer hover:bg-bg dark:hover:bg-gray-600">
            <ng-container *ngFor="let header of tableHeaders">
              <ng-container [ngSwitch]="header.img">
                <td *ngSwitchCase="true" class="px-6 py-4">
                  <img class="w-10 h-10" src="{{item[header.key]}}" alt="{{item[header.key]}}">
                </td>
                <td *ngSwitchCase="false" class="px-6 py-4">
                  {{ item[header.key] }}
                </td>
                <td *ngSwitchDefault class="px-6 py-4">
                  <a [routerLink]="item.id" class="text-blue-600 hover:underline dark:text-blue-500">
                    {{ item[header.key] }}
                  </a>
                </td>
              </ng-container>
            </ng-container>
          </tr>
        </ng-container>
    
        <!-- Show no data message if tableData is empty -->
        <ng-template #noData>
          <tr>
            <td colspan="{{tableHeaders.length}}">
              <div
                class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg border border-error dark:bg-gray-800 dark:text-red-400"
                role="alert">
                <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor" viewBox="0 0 20 20">
                  <path
                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <span class="sr-only">Info</span>
                <div>
                  <span class="font-medium">No data found!</span> Change a few things up and try submitting again.
                </div>
              </div>
            </td>
          </tr>
        </ng-template>
      </ng-container>
    </tbody>

  </table>
</div>


<app-table-footer [tableData]="tableData"  [currentPage]="currentPage" (goTo)="onGoTo($event)" (previous)="onPrevious($event)"
        (next)="onNext($event)" (perPageChange)="onPerPageChange($event)"></app-table-footer>