<div class="table-container">
  <table class="border w-full shadow-base text-sm text-left rtl:text-right text-gray-500">
    <thead class="text-xs text-gray-700 uppercase bg-bg sticky top-0">
      <tr>
        <th *ngFor="let header of tableHeaders" [key]="header.key" scope="col" class="px-6 py-3">
          {{header.label}}
          <app-sort-icon *ngIf="header.sortable"></app-sort-icon>
        </th>
      </tr>
    </thead>
    <tbody class="h-40 overflow-y-auto">
      <tr *ngFor="let item of tableData"
        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:cursor-pointer hover:bg-bg dark:hover:bg-gray-600">
        <ng-container *ngFor="let header of tableHeaders">
          <ng-container [ngSwitch]="header.img">
            <td *ngSwitchCase="true" class="px-6 py-4">
              <img class="w-10 h-10 rounded-full" src="{{item[header.key]}}" alt="{{item[header.key]}}">
            </td>
            <td *ngSwitchCase="false" class="px-6 py-4">
              {{ item[header.key] }}
            </td>
            <td *ngSwitchDefault class="px-6 py-4">
              <a [routerLink]="item.id" class="text-blue-600 hover:underline dark:text-blue-500">
                {{ item[header.key] }} 
              </a>
            </td>
          </ng-container>
        </ng-container>
      </tr>
    </tbody>
  </table>
</div>


<app-table-footer></app-table-footer>